body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
footer{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #333;
    color:#fff;
}
ul{
    list-style-type:none;
    padding: 0;
}
li{
    margin: 10px 0px;
}
